<div class=" w-50 m-auto text-center ">
    <form [formGroup]='formGrop1' (ngSubmit)='addProuduct(formGrop1)' >
            <div class=" my-4 py-4" >
              <h1> Welcome ,Enter Your Prouducts .</h1>
            </div>
            <div class=" form-group">
              <label for="name"><h2> Product Name :   </h2></label> 
              <select [value]='y' formControlName='productName'  name="name" class=" text-center form-control" id="name" >    
                <option value="samsong">samsong</option>
                <option value="iphone">iphone</option>
                <option value="oppo">Oppo</option>
                <option value="dell"> Dell</option>
                <option value="lenova">Lenova</option>
                <option value="hp">HP</option>    
            </select> 
          </div>
        <div class=" form-group">
            <label for="category"><h2> Category : </h2></label> 
            <select [value]='z' formControlName='productcatigory'  name="category" class=" text-center form-control" id="category">    
                  <option value="mobile">mobile</option>
                  <option value="labs">labs</option>
                     
              </select> 
        </div>
        <div class=" form-group">
          <label for="sallary"><h2> Sallary : </h2></label> 
          <input [value]="x" formControlName='productPrice' type="text" class="form-control" id="sallary"> 
      </div>

      <button *ngIf='!display' class=" btn btn-outline-success px-3"> Add</button>
      <button *ngIf='display' (click)='cancelproduct()' class=" btn btn-outline-danger px-3"> Cancel</button>
      <button *ngIf='display' (click)='okprouduct(formGrop1)' class=" ml-3 btn btn-outline-danger">ok</button>
    </form>

</div>

<div class=" container">
  <table class=" table-danger table my-5">

    <thead>
      <th>Index</th>
      <th>Product Name</th>
      <th>Product category</th>
      <th>Product price</th>
      <th>Update</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor=' let product of prouductArray ; index as x'>
        <td> {{x+1}} </td>
        <td>{{product.productName}}</td>
        <td>{{product.productcatigory}}</td>
        <td>{{product.productPrice}}</td>
        <td><a (click)="updatProuduct(x)"  class=" btn btn-outline-success"> Update </a> </td>
        <td><button (click)='deletProduct(x)' class=" btn btn-danger"> Delete</button></td>

      </tr>
    </tbody>

  </table>
</div>
 
